html, body {
  height: 100%;
}

body {
  min-height: 100%;
  background-color: #111111;
  font-family: sans-serif;
  color: #ffffff;
}

.button {
  height: 36px;
  line-height: 30px;
  padding: 0 18px;
  background-color: #ffffff;
  border: none;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 18px;
  cursor: pointer;
  transition: 0.15s all ease-in-out;
}

  .button:hover,
  .button:focus {
    transform: scale(1.1);
    outline: 0;
  }

.app {
  width: 100%;
  height: 100%;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 0 24px;
  background: linear-gradient(
    hsl(0, 0%, 0%) 0%,
    hsla(0, 0%, 0%, 0.738) 19%,
    hsla(0, 0%, 0%, 0.541) 34%,
    hsla(0, 0%, 0%, 0.382) 47%,
    hsla(0, 0%, 0%, 0.278) 56.5%,
    hsla(0, 0%, 0%, 0.194) 65%,
    hsla(0, 0%, 0%, 0.126) 73%,
    hsla(0, 0%, 0%, 0.075) 80.2%,
    hsla(0, 0%, 0%, 0.042) 86.1%,
    hsla(0, 0%, 0%, 0.021) 91%,
    hsla(0, 0%, 0%, 0.008) 95.2%,
    hsla(0, 0%, 0%, 0.002) 98.2%,
    hsla(0, 0%, 0%, 0) 100%
  );
  z-index: 1;
}

  .title {
    font-size: 24px;
    text-transform: uppercase;
    font-weight: bold;
  }

  .upload-toggle {
    color: #222222;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }

  .see-more {
    color: #1bb9ec;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
  }

/*.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 0;
  z-index: 2;
  transition: 0.15s ease-in-out opacity;
  pointer-events: none;
}

.overlay.visible {
  opacity: 1;
  pointer-events: all;
  transition: 0.25s ease-in-out opacity;
}

  .modal {
    position: absolute;
    width: calc(100% / 3);
    padding-bottom: calc(20%);
    top: 72px;
    left: 50%;
    margin-left: calc(100% / -6);
    background-color: #ffffff;
    border-radius: 4px;
    transform: scale(0.8);
    transition: 0.25s ease-in-out transform;
  }

  .overlay.visible > .modal {
    transform: scale(1);
    transition: 0.15s ease-in-out transform;

  }

    .modal-content {
      width: 100%;
      height: 100%;
      padding: 20px;
      display: flex;
      flex-direction: column;
      align-items: ;
    }

      .modal-title {
        color: #111111;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 24px;
        line-height: 24px;
        margin-bottom: 24px;
      }

      .upload-area {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        margin-bottom: 24px;
        padding: 20px;
        border: 4px solid #eeeeee;
        border-radius: 8px;
        overflow: hidden;
        transition: 0.25s border-color ease-in-out;
        flex: 1;
      }

        .upload-area:hover {
          border-color: #dddddd;
        }*/

        .upload-instructions {
          text-align: center;
          font-size: 14px;
          color: #444444;
        }

        .upload-input {
          position: absolute;
          top: 0;
          left: -100%;
          width: 200%;
          height: 100%;
          background-color: #f00;
          cursor: pointer;
          opacity: 0;
        }

          .upload-input:invalid {
            border-color: #1bb9ec;
          }

      .upload-submit {
        float: right;
        background-color: #1bb9ec;
        color: #ffffff;
      }

.gallery {
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  position: relative;
  min-height: 100%;
  padding-bottom: 25%;
}

.screenshot {
  display: block;
  position: relative;
  width: calc(100% / 3);
  padding-bottom: 25%;
  overflow: hidden;
}

  .screenshot-image {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
  }

  .screenshot-share {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
    display: flex;
    justify-content: flex-end;
  }

  .screenshot-share:after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 72px;
    background: transparent linear-gradient(0deg,
        hsl(0, 0%, 0%) 0%,
        hsla(0, 0%, 0%, 0.738) 19%,
        hsla(0, 0%, 0%, 0.541) 34%,
        hsla(0, 0%, 0%, 0.382) 47%,
        hsla(0, 0%, 0%, 0.278) 56.5%,
        hsla(0, 0%, 0%, 0.194) 65%,
        hsla(0, 0%, 0%, 0.126) 73%,
        hsla(0, 0%, 0%, 0.075) 80.2%,
        hsla(0, 0%, 0%, 0.042) 86.1%,
        hsla(0, 0%, 0%, 0.021) 91%,
        hsla(0, 0%, 0%, 0.008) 95.2%,
        hsla(0, 0%, 0%, 0.002) 98.2%,
        hsla(0, 0%, 0%, 0) 100%
      ) no-repeat;
    opacity: 0;
    transition: 0.5s opacity ease-in-out;
    z-index: 1;
  }

  .screenshot:hover .screenshot-share:after {
    transition: 0.25s opacity ease-in-out;
    opacity: 0.8;
  }

    .screenshot-share-link {
      display: block;
      position: relative;
      transform: translateY(100%);
      margin-right: 18px;
      padding: 12px 0;
      z-index: 2;
      transition: 0.5s transform cubic-bezier(0.5,0,0,1);
    }

      .screenshot-share-link svg {
        transform: scale(1);
        transition: 0.15s transform ease-in-out;
      }

      .screenshot-share-link:hover svg {
        transform: scale(1.2);
      }

      .screenshot-share-link path {
        fill: #ffffff;
      }

    .screenshot-share-link:nth-last-child(2) {
      transition-delay: 0.05s;
    }

    .screenshot:hover .screenshot-share-link {
      transform: translateY(0);
    }

.next-screenshot {
  position: absolute;
  bottom: 0;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
}

.next-screenshot:nth-last-child(1) {
  transform: translate(180%, 85%) rotate(5deg);
}

.next-screenshot:nth-last-child(2) {
  transform: translate(100%, 70%) rotate(2deg);
  z-index: 1;
}

.next-screenshot:nth-last-child(3) {
  transform: translate(20%, 85%) rotate(-4deg);
}

.next-screenshot.transitioning {
  transition: 0.5s all cubic-bezier(1,0,0.5,1);
  box-shadow: 0 0 0 rgba(0, 0, 0, 0);
}

.next-screenshot.transitioning:nth-last-child(1) {
  transform: translate(200%, 0) rotate(0);
}

.next-screenshot.transitioning:nth-last-child(2) {
  transform: translate(100%, 0) rotate(0);
}

.next-screenshot.transitioning:nth-last-child(3) {
  transform: translate(0, 0) rotate(0);
}

.hero {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 4px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.hero > .hero-image {
  display: block;
}

/*.js-gallery-page,
.js-hero-page {
  display: none;
}

.js-gallery-page.visible,
.js-hero-page.visible {
  display: flex;
}*/
